@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

:root {
    --primary-blue: rgba(31,41,55);
}

body {
    text-align: center;
    color: white;
    border: 0.2rem solid;
    width: 45%;
    
   margin-top: 10%;
   margin-left: 30%;
   font-family: 'Paytone One', sans-serif;
   background-color: var(--primary-blue);
}

h1 {
    font-size: 2rem;
    letter-spacing: 1px;
}

input {
    width: 35%;
    padding: 0.3rem;
    font-size: 1.3rem;
    display:block;
    margin: auto;
    border-radius: 0.2rem;
    font-family: 'Paytone One', sans-serif;
    text-align: center;

}

button {
    margin-top: 1.4rem;
    font-family: 'Paytone One', sans-serif;
    background-color: white;
    border-radius: 0.2rem;
    padding: 0.5rem 1.7rem;
    font-size: 1.3rem;
}

div {
    margin-bottom: 1rem;
    font-size: 1.5rem; 
    padding: 1rem;
}