@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

:root {
    --primary-blue: rgba(31, 41, 55);
}

body {
    text-align: center;
    color: white;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    font-family: 'Paytone One', sans-serif;
    background-color: var(--primary-blue);
}

.container {
    border: 0.2rem solid;

}

h1 {
    font-size: 2rem;
    letter-spacing: 1px;
}

input {
    width: 35%;
    padding: 0.3rem;
    font-size: 1.3rem;
    display: block;
    margin: auto;
    border-radius: 0.2rem;
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    cursor: pointer;

}

button {
    margin-top: 1.4rem;
    font-family: 'Paytone One', sans-serif;
    background-color: white;
    border-radius: 0.2rem;
    padding: 0.5rem 1.7rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.output-message {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
}


footer {

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    background-color: rgb(31, 41, 55,0.5);
    text-align: center;
    color: white;
   
   
}

footer .link {
    color: white;
}

footer ul {
    padding-inline-start: 0px;

}

footer .link:hover {
    text-decoration: underline;
}

.link {
    max-width: min-content;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);

}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}